<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
      var appConfig = JSON.parse(`<%= htmlWebpackPlugin.options.appConfig %>`)
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
